<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.hospital.monitor.mapper.HospitalmonitorMapper">
  <resultMap id="BaseResultMap" type="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hisid" jdbcType="INTEGER" property="hisid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="percode" jdbcType="VARCHAR" property="percode" />
    <result column="inscode" jdbcType="VARCHAR" property="inscode" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="indate" jdbcType="TIMESTAMP" property="indate" />
    <result column="dept" jdbcType="INTEGER" property="dept" />
    <result column="diagnose" jdbcType="VARCHAR" property="diagnose" />
    <result column="incode" jdbcType="VARCHAR" property="incode" />
    <result column="wardcode" jdbcType="VARCHAR" property="wardcode" />
    <result column="outdate" jdbcType="TIMESTAMP" property="outdate" />
    <result column="moneycode" jdbcType="VARCHAR" property="moneycode" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="image1" jdbcType="VARCHAR" property="image1" />
    <result column="image2" jdbcType="VARCHAR" property="image2" />
    <result column="image3" jdbcType="VARCHAR" property="image3" />
    <result column="image4" jdbcType="VARCHAR" property="image4" />
    <result column="image5" jdbcType="VARCHAR" property="image5" />
    <result column="image6" jdbcType="VARCHAR" property="image6" />
    <result column="image7" jdbcType="VARCHAR" property="image7" />
    <result column="image8" jdbcType="VARCHAR" property="image8" />
    <result column="hospdate" jdbcType="TIMESTAMP" property="hospdate" />
    <result column="hospoperator" jdbcType="VARCHAR" property="hospoperator" />
    <result column="gpsstatus" jdbcType="VARCHAR" property="gpsstatus" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="monitorstatus" jdbcType="VARCHAR" property="monitorstatus" />
    <result column="enddate" jdbcType="TIMESTAMP" property="enddate" />
    <result column="hospnum" jdbcType="INTEGER" property="hospnum" />
    <result column="checkstatus" jdbcType="VARCHAR" property="checkstatus" />
    <result column="checkdate" jdbcType="TIMESTAMP" property="checkdate" />
    <result column="checkoperator" jdbcType="VARCHAR" property="checkoperator" />
    <result column="checkreason" jdbcType="VARCHAR" property="checkreason" />
    <result column="inid" jdbcType="INTEGER" property="inid" />
    <result column="outstatus" jdbcType="VARCHAR" property="outstatus" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="modifydate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="extractstatus" jdbcType="VARCHAR" property="extractstatus" />
    <result column="gpscheckstatus" jdbcType="VARCHAR" property="gpscheckstatus" />
    <result column="lifestatus" jdbcType="VARCHAR" property="lifestatus" />
    <result column="supcode1" jdbcType="VARCHAR" property="supcode1" />
    <result column="supcode2" jdbcType="VARCHAR" property="supcode2" />
    <result column="supcode3" jdbcType="VARCHAR" property="supcode3" />
    <result column="supcode4" jdbcType="VARCHAR" property="supcode4" />
    <result column="pertype" jdbcType="VARCHAR" property="pertype" />
    <result column="areaid" jdbcType="INTEGER" property="areaid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hisid, `type`, `name`, sex, percode, inscode, phone, indate, dept, diagnose,
    incode, wardcode, outdate, moneycode, money, image1, image2, image3, image4, image5,
    image6, image7, image8, hospdate, hospoperator, gpsstatus, longitude, latitude, monitorstatus,
    enddate, hospnum, checkstatus, checkdate, checkoperator, checkreason, inid, outstatus,
    `status`, `operator`, modifydate, remark, extractstatus, gpscheckstatus, lifestatus,
    supcode1, supcode2, supcode3, supcode4, pertype, areaid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hospitalmonitor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hospitalmonitor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor">
    insert into hospitalmonitor (id, hisid, `type`,
      `name`, sex, percode,
      inscode, phone, indate,
      dept, diagnose, incode,
      wardcode, outdate, moneycode,
      money, image1, image2,
      image3, image4, image5,
      image6, image7, image8,
      hospdate, hospoperator, gpsstatus,
      longitude, latitude, monitorstatus,
      enddate, hospnum, checkstatus,
      checkdate, checkoperator, checkreason,
      inid, outstatus, `status`,
      `operator`, modifydate, remark,
      extractstatus, gpscheckstatus, lifestatus,
      supcode1, supcode2, supcode3,
      supcode4, pertype, areaid
    values (#{id,jdbcType=INTEGER}, #{hisid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{percode,jdbcType=VARCHAR},
      #{inscode,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{indate,jdbcType=TIMESTAMP},
      #{dept,jdbcType=INTEGER}, #{diagnose,jdbcType=VARCHAR}, #{incode,jdbcType=VARCHAR},
      #{wardcode,jdbcType=VARCHAR}, #{outdate,jdbcType=TIMESTAMP}, #{moneycode,jdbcType=VARCHAR},
      #{money,jdbcType=DECIMAL}, #{image1,jdbcType=VARCHAR}, #{image2,jdbcType=VARCHAR},
      #{image3,jdbcType=VARCHAR}, #{image4,jdbcType=VARCHAR}, #{image5,jdbcType=VARCHAR},
      #{image6,jdbcType=VARCHAR}, #{image7,jdbcType=VARCHAR}, #{image8,jdbcType=VARCHAR},
      #{hospdate,jdbcType=TIMESTAMP}, #{hospoperator,jdbcType=VARCHAR}, #{gpsstatus,jdbcType=VARCHAR},
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{monitorstatus,jdbcType=VARCHAR},
      #{enddate,jdbcType=TIMESTAMP}, #{hospnum,jdbcType=INTEGER}, #{checkstatus,jdbcType=VARCHAR},
      #{checkdate,jdbcType=TIMESTAMP}, #{checkoperator,jdbcType=VARCHAR}, #{checkreason,jdbcType=VARCHAR},
      #{inid,jdbcType=INTEGER}, #{outstatus,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{operator,jdbcType=VARCHAR}, #{modifydate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
      #{extractstatus,jdbcType=VARCHAR}, #{gpscheckstatus,jdbcType=VARCHAR}, #{lifestatus,jdbcType=VARCHAR},
      #{supcode1,jdbcType=VARCHAR}, #{supcode2,jdbcType=VARCHAR}, #{supcode3,jdbcType=VARCHAR},
      #{supcode4,jdbcType=VARCHAR}, #{pertype,jdbcType=VARCHAR}, #{areaid,jdbcType=INTEGER}
  </insert>
  <insert id="insertSelective" parameterType="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor">
    insert into hospitalmonitor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hisid != null">
        hisid,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="percode != null">
        percode,
      </if>
      <if test="inscode != null">
        inscode,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="indate != null">
        indate,
      </if>
      <if test="dept != null">
        dept,
      </if>
      <if test="diagnose != null">
        diagnose,
      </if>
      <if test="incode != null">
        incode,
      </if>
      <if test="wardcode != null">
        wardcode,
      </if>
      <if test="outdate != null">
        outdate,
      </if>
      <if test="moneycode != null">
        moneycode,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="image1 != null">
        image1,
      </if>
      <if test="image2 != null">
        image2,
      </if>
      <if test="image3 != null">
        image3,
      </if>
      <if test="image4 != null">
        image4,
      </if>
      <if test="image5 != null">
        image5,
      </if>
      <if test="image6 != null">
        image6,
      </if>
      <if test="image7 != null">
        image7,
      </if>
      <if test="image8 != null">
        image8,
      </if>
      <if test="hospdate != null">
        hospdate,
      </if>
      <if test="hospoperator != null">
        hospoperator,
      </if>
      <if test="gpsstatus != null">
        gpsstatus,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="monitorstatus != null">
        monitorstatus,
      </if>
      <if test="enddate != null">
        enddate,
      </if>
      <if test="hospnum != null">
        hospnum,
      </if>
      <if test="checkstatus != null">
        checkstatus,
      </if>
      <if test="checkdate != null">
        checkdate,
      </if>
      <if test="checkoperator != null">
        checkoperator,
      </if>
      <if test="checkreason != null">
        checkreason,
      </if>
      <if test="inid != null">
        inid,
      </if>
      <if test="outstatus != null">
        outstatus,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="operator != null">
        `operator`,
      </if>
      <if test="modifydate != null">
        modifydate,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="extractstatus != null">
        extractstatus,
      </if>
      <if test="gpscheckstatus != null">
        gpscheckstatus,
      </if>
      <if test="lifestatus != null">
        lifestatus,
      </if>
      <if test="supcode1 != null">
        supcode1,
      </if>
      <if test="supcode2 != null">
        supcode2,
      </if>
      <if test="supcode3 != null">
        supcode3,
      </if>
      <if test="supcode4 != null">
        supcode4,
      </if>
      <if test="pertype != null">
        pertype,
      </if>
      <if test="areaid != null">
        areaid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hisid != null">
        #{hisid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="percode != null">
        #{percode,jdbcType=VARCHAR},
      </if>
      <if test="inscode != null">
        #{inscode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="indate != null">
        #{indate,jdbcType=TIMESTAMP},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=INTEGER},
      </if>
      <if test="diagnose != null">
        #{diagnose,jdbcType=VARCHAR},
      </if>
      <if test="incode != null">
        #{incode,jdbcType=VARCHAR},
      </if>
      <if test="wardcode != null">
        #{wardcode,jdbcType=VARCHAR},
      </if>
      <if test="outdate != null">
        #{outdate,jdbcType=TIMESTAMP},
      </if>
      <if test="moneycode != null">
        #{moneycode,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="image1 != null">
        #{image1,jdbcType=VARCHAR},
      </if>
      <if test="image2 != null">
        #{image2,jdbcType=VARCHAR},
      </if>
      <if test="image3 != null">
        #{image3,jdbcType=VARCHAR},
      </if>
      <if test="image4 != null">
        #{image4,jdbcType=VARCHAR},
      </if>
      <if test="image5 != null">
        #{image5,jdbcType=VARCHAR},
      </if>
      <if test="image6 != null">
        #{image6,jdbcType=VARCHAR},
      </if>
      <if test="image7 != null">
        #{image7,jdbcType=VARCHAR},
      </if>
      <if test="image8 != null">
        #{image8,jdbcType=VARCHAR},
      </if>
      <if test="hospdate != null">
        #{hospdate,jdbcType=TIMESTAMP},
      </if>
      <if test="hospoperator != null">
        #{hospoperator,jdbcType=VARCHAR},
      </if>
      <if test="gpsstatus != null">
        #{gpsstatus,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="monitorstatus != null">
        #{monitorstatus,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="hospnum != null">
        #{hospnum,jdbcType=INTEGER},
      </if>
      <if test="checkstatus != null">
        #{checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="checkdate != null">
        #{checkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkoperator != null">
        #{checkoperator,jdbcType=VARCHAR},
      </if>
      <if test="checkreason != null">
        #{checkreason,jdbcType=VARCHAR},
      </if>
      <if test="inid != null">
        #{inid,jdbcType=INTEGER},
      </if>
      <if test="outstatus != null">
        #{outstatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extractstatus != null">
        #{extractstatus,jdbcType=VARCHAR},
      </if>
      <if test="gpscheckstatus != null">
        #{gpscheckstatus,jdbcType=VARCHAR},
      </if>
      <if test="lifestatus != null">
        #{lifestatus,jdbcType=VARCHAR},
      </if>
      <if test="supcode1 != null">
        #{supcode1,jdbcType=VARCHAR},
      </if>
      <if test="supcode2 != null">
        #{supcode2,jdbcType=VARCHAR},
      </if>
      <if test="supcode3 != null">
        #{supcode3,jdbcType=VARCHAR},
      </if>
      <if test="supcode4 != null">
        #{supcode4,jdbcType=VARCHAR},
      </if>
      <if test="pertype != null">
        #{pertype,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null">
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor">
    update hospitalmonitor
    <set>
      <if test="hisid != null">
        hisid = #{hisid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="percode != null">
        percode = #{percode,jdbcType=VARCHAR},
      </if>
      <if test="inscode != null">
        inscode = #{inscode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="indate != null">
        indate = #{indate,jdbcType=TIMESTAMP},
      </if>
      <if test="dept != null">
        dept = #{dept,jdbcType=INTEGER},
      </if>
      <if test="diagnose != null">
        diagnose = #{diagnose,jdbcType=VARCHAR},
      </if>
      <if test="incode != null">
        incode = #{incode,jdbcType=VARCHAR},
      </if>
      <if test="wardcode != null">
        wardcode = #{wardcode,jdbcType=VARCHAR},
      </if>
      <if test="outdate != null">
        outdate = #{outdate,jdbcType=TIMESTAMP},
      </if>
      <if test="moneycode != null">
        moneycode = #{moneycode,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="image1 != null">
        image1 = #{image1,jdbcType=VARCHAR},
      </if>
      <if test="image2 != null">
        image2 = #{image2,jdbcType=VARCHAR},
      </if>
      <if test="image3 != null">
        image3 = #{image3,jdbcType=VARCHAR},
      </if>
      <if test="image4 != null">
        image4 = #{image4,jdbcType=VARCHAR},
      </if>
      <if test="image5 != null">
        image5 = #{image5,jdbcType=VARCHAR},
      </if>
      <if test="image6 != null">
        image6 = #{image6,jdbcType=VARCHAR},
      </if>
      <if test="image7 != null">
        image7 = #{image7,jdbcType=VARCHAR},
      </if>
      <if test="image8 != null">
        image8 = #{image8,jdbcType=VARCHAR},
      </if>
      <if test="hospdate != null">
        hospdate = #{hospdate,jdbcType=TIMESTAMP},
      </if>
      <if test="hospoperator != null">
        hospoperator = #{hospoperator,jdbcType=VARCHAR},
      </if>
      <if test="gpsstatus != null">
        gpsstatus = #{gpsstatus,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="monitorstatus != null">
        monitorstatus = #{monitorstatus,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        enddate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="hospnum != null">
        hospnum = #{hospnum,jdbcType=INTEGER},
      </if>
      <if test="checkstatus != null">
        checkstatus = #{checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="checkdate != null">
        checkdate = #{checkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkoperator != null">
        checkoperator = #{checkoperator,jdbcType=VARCHAR},
      </if>
      <if test="checkreason != null">
        checkreason = #{checkreason,jdbcType=VARCHAR},
      </if>
      <if test="inid != null">
        inid = #{inid,jdbcType=INTEGER},
      </if>
      <if test="outstatus != null">
        outstatus = #{outstatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        `operator` = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extractstatus != null">
        extractstatus = #{extractstatus,jdbcType=VARCHAR},
      </if>
      <if test="gpscheckstatus != null">
        gpscheckstatus = #{gpscheckstatus,jdbcType=VARCHAR},
      </if>
      <if test="lifestatus != null">
        lifestatus = #{lifestatus,jdbcType=VARCHAR},
      </if>
      <if test="supcode1 != null">
        supcode1 = #{supcode1,jdbcType=VARCHAR},
      </if>
      <if test="supcode2 != null">
        supcode2 = #{supcode2,jdbcType=VARCHAR},
      </if>
      <if test="supcode3 != null">
        supcode3 = #{supcode3,jdbcType=VARCHAR},
      </if>
      <if test="supcode4 != null">
        supcode4 = #{supcode4,jdbcType=VARCHAR},
      </if>
      <if test="pertype != null">
        pertype = #{pertype,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null">
        areaid = #{areaid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor">
    update hospitalmonitor
    set hisid = #{hisid,jdbcType=INTEGER},
      `type` = #{type,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      percode = #{percode,jdbcType=VARCHAR},
      inscode = #{inscode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      indate = #{indate,jdbcType=TIMESTAMP},
      dept = #{dept,jdbcType=INTEGER},
      diagnose = #{diagnose,jdbcType=VARCHAR},
      incode = #{incode,jdbcType=VARCHAR},
      wardcode = #{wardcode,jdbcType=VARCHAR},
      outdate = #{outdate,jdbcType=TIMESTAMP},
      moneycode = #{moneycode,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      image1 = #{image1,jdbcType=VARCHAR},
      image2 = #{image2,jdbcType=VARCHAR},
      image3 = #{image3,jdbcType=VARCHAR},
      image4 = #{image4,jdbcType=VARCHAR},
      image5 = #{image5,jdbcType=VARCHAR},
      image6 = #{image6,jdbcType=VARCHAR},
      image7 = #{image7,jdbcType=VARCHAR},
      image8 = #{image8,jdbcType=VARCHAR},
      hospdate = #{hospdate,jdbcType=TIMESTAMP},
      hospoperator = #{hospoperator,jdbcType=VARCHAR},
      gpsstatus = #{gpsstatus,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      monitorstatus = #{monitorstatus,jdbcType=VARCHAR},
      enddate = #{enddate,jdbcType=TIMESTAMP},
      hospnum = #{hospnum,jdbcType=INTEGER},
      checkstatus = #{checkstatus,jdbcType=VARCHAR},
      checkdate = #{checkdate,jdbcType=TIMESTAMP},
      checkoperator = #{checkoperator,jdbcType=VARCHAR},
      checkreason = #{checkreason,jdbcType=VARCHAR},
      inid = #{inid,jdbcType=INTEGER},
      outstatus = #{outstatus,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      `operator` = #{operator,jdbcType=VARCHAR},
      modifydate = #{modifydate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      extractstatus = #{extractstatus,jdbcType=VARCHAR},
      gpscheckstatus = #{gpscheckstatus,jdbcType=VARCHAR},
      lifestatus = #{lifestatus,jdbcType=VARCHAR},
      supcode1 = #{supcode1,jdbcType=VARCHAR},
      supcode2 = #{supcode2,jdbcType=VARCHAR},
      supcode3 = #{supcode3,jdbcType=VARCHAR},
      supcode4 = #{supcode4,jdbcType=VARCHAR},
      pertype = #{pertype,jdbcType=VARCHAR},
      areaid = #{areaid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectRelatedMonitors" resultType="org.jeecg.modules.hospital.monitor.vo.MonitorDictHisinfo">
    select a.*,b.name hospitalName,c.name dictName from hospitalmonitor a left join hisinfo b on a.hisid=b.id left join dictionary c on c.id = a.dept
    <where>
      (a.type='01' OR a.type='05') and a.extractstatus='0' and a.outstatus='1' and a.status='1'
      <if test="percode != null and percode !=''">
        and a.percode like concat('%',#{percode},'%')
      </if>
      <if test="name != null and name !=''">
        and a.name like concat('%',#{name},'%')
      </if>
      <if test="outstatus != null and outstatus !=''">
        and a.outstatus =#{outstatus}
      </if>
      <if test="incode != null and incode !=''">
        and  a.incode like concat('%',#{incode},'%')
      </if>
      <if test="hisname != null and hisname !=''">
        and b.name like concat('%',#{hisname},'%')
      </if>
      <if test="diagnose != null and diagnose !=''">
        and a.diagnose like concat('%',#{diagnose},'%')
      </if>
      <if test="inDateBegin != null and inDateBegin !=''">
        and a.indate &gt;= #{inDateBegin}
      </if>
      <if test="inDateEnd != null and inDateEnd !=''">
        and a.indate &lt;= #{inDateEnd}
      </if>
      <if test="outDateBegin != null and outDateBegin !=''">
        and a.outdate &gt;= #{outDateBegin}
      </if>
      <if test="outDateEnd != null and outDateEnd !=''">
        and a.outdate &lt;= #{outDateEnd}
      </if>
      <if test="dept != null ">
        and a.dept = #{dept}
      </if>
    </where>
    ORDER BY
    <choose>
      <when test="column!=null">
        ${column} ${order}
      </when>
      <otherwise>
        b.NAME ASC,
        c.NAME ASC,
        a.indate DESC
      </otherwise>
    </choose>
    LIMIT ${startIndex}, ${pageSize}

  </select>
  <select id="selectRelatedMonitorsCount" resultType="java.lang.Integer">
    select count(1) from hospitalmonitor a left join hisinfo b on a.hisid=b.id left join dictionary c on c.id = a.dept
    <where>
      (a.type='01' OR a.type='05') and a.extractstatus='0' and a.outstatus='1'  and a.status='1'
      <if test="percode != null and percode !=''">
       and a.percode like concat('%',#{percode},'%')
      </if>
      <if test="name != null and name !=''">
        and a.name like concat('%',#{name},'%')
      </if>
      <if test="outstatus != null and outstatus !=''">
        and a.outstatus =#{outstatus}
      </if>
      <if test="incode != null and incode !=''">
        and  a.incode like concat('%',#{incode},'%')
      </if>
      <if test="hisname != null and hisname !=''">
        and b.name like concat('%',#{hisname},'%')
      </if>
      <if test="diagnose != null and diagnose !=''">
        and a.diagnose like concat('%',#{diagnose},'%')
      </if>
      <if test="inDateBegin != null and inDateBegin !=''">
        and a.indate &gt;= #{inDateBegin}
      </if>
      <if test="inDateEnd != null and inDateEnd !=''">
        and a.indate &lt;= #{inDateEnd}
      </if>
      <if test="outDateBegin != null and outDateBegin !=''">
        and a.outdate &gt;= #{outDateBegin}
      </if>
      <if test="outDateEnd != null and outDateEnd !=''">
        and a.outdate &lt;= #{outDateEnd}
      </if>
      <if test="dept != null ">
        and a.dept = #{dept}
      </if>
    </where>

  </select>

  <select id="selectHmIdWithLicit" resultType="java.util.HashMap">
     select * From monitorlist m WHERE m.status='1' AND m.type=#{type}
     AND DATE_FORMAT(m.monitdate,'%Y%m%d')=DATE_FORMAT(NOW(),'%Y%m%d') AND m.hmid=#{id}
  </select>

  <select id="selectHospitalMonitorByPerCode" resultType="java.util.HashMap">
    SELECT a.* FROM hospitalmonitor a left join hisuserinfo b on b.hisid = a.hisid
        where b.token=#{hospitalmonitor.token} and (b.authority_id like '%9%' or b.dept=a.dept) and a.outstatus=1 and a.status =1 and a.type='01'
        <if test="hospitalmonitor.name != null and hospitalmonitor.name != ''">
              and a.name like concat('%',#{hospitalmonitor.name},'%')
        </if>
        <if test="hospitalmonitor.percode != null and hospitalmonitor.percode != ''">
             and a.percode like concat('%',#{hospitalmonitor.percode},'%')
        </if>
        LIMIT ${startIndex},${pageSize}
  </select>
  <select id="selectHospitalMonitorByPerCodeCount" resultType="java.lang.Integer" parameterType="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor">
      SELECT count(1) FROM hospitalmonitor a left join hisuserinfo b on b.hisid = a.hisid
      where b.token=#{token} and (b.authority_id like '%9%' or b.dept=a.dept) and a.outstatus=1 and a.status =1 and a.type='01'
      <if test="name != null and name != ''">
        and a.name like concat('%',#{name},'%')
      </if>
      <if test="percode != null and percode != ''">
        and a.percode like concat('%',#{percode},'%')
      </if>
  </select>
  <select id="selectByHosId" parameterType="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor" resultType="org.jeecg.modules.hospital.monitor.vo.HospitalMonitorVo">
        select a.name,a.sex,a.percode,a.phone,a.inscode,a.incode,a.indate, c.name as 'deptName', b.name as 'hisName',
         a.diagnose,a.wardcode,a.outdate,a.moneycode,a.money,d.image,a.image1,a.image2
          ,a.image3,a.image4,a.image5,a.image6,a.image7,a.image8 from hospitalmonitor a
         left join hisinfo b on b.id = a.hisid
          left join dictionary c on c.id = a.dept
          left join perinfo d on d.percode = a.percode where a.id = #{id}
  </select>

  <select id="selectByPerCode" resultType="java.util.Map">
    select id from hospitalmonitor where status =1 and outstatus=1 and percode = #{percode}
      ORDER BY modifydate desc LIMIT 1
  </select>
  <select id="selectNoPassCount" resultType="java.lang.Integer">
    select count(*) from hospitalmonitor where
    type='04'
    and (monitorstatus not in ('1','8'))
  </select>


  <select id="patientBedPercentageLists" resultType="org.jeecg.modules.hospital.monitor.vo.PatientBedVo">
      SELECT
          b.NAME hospitalName,
          b.CODE hospitalCode,
          c.NAME department,
          d.bed beds,
          aa.num numPeopleInhos,
          aa.num / d.bed * 100 occupationRate
      FROM
          (
          SELECT
              a.dept,
              a.hisid,
              count( 1 ) num
          FROM
              hospitalmonitor a
          WHERE
              a.type = '01'
              AND a.STATUS = 1
              AND a.outstatus = 1
          GROUP BY
              a.dept,
              a.hisid
          ) aa
          LEFT JOIN hisinfo b ON aa.hisid = b.id
          LEFT JOIN dictionary c ON c.id = aa.dept
          LEFT JOIN hisdeptbedinfo d ON b.id = d.hisid
          AND aa.dept = d.dept
    <where>
      <if test="hospitalName != null and hospitalName !=''">
        and b.name like concat('%', #{hospitalName},'%')
      </if>
      <if test="hospitalCode != null and hospitalCode !=''">
        and b.code  like concat('%', #{hospitalCode},'%')
      </if>
    </where>
    ORDER BY
    <choose>
      <when test="column!=null">
        ${column} ${order}
      </when>
      <otherwise>
        b.name,b.code DESC
      </otherwise>
    </choose>
    <if test="startIndex!=null and pageSize!=null">
     LIMIT ${startIndex}, ${pageSize}
    </if>
  </select>
  <select id="patientBedPercentageCount" resultType="java.lang.Integer">
     SELECT
            count(1)
      FROM
          (
          SELECT
              a.dept,
              a.hisid,
              count( 1 ) num
          FROM
              hospitalmonitor a
          WHERE
              a.type = '01'
              AND a.STATUS = 1
              AND a.outstatus = 1
          GROUP BY
              a.dept,
              a.hisid
          ) aa
          LEFT JOIN hisinfo b ON aa.hisid = b.id
      <where>
        <if test="hospitalName != null and hospitalName !=''">
          and b.name like concat('%', #{hospitalName},'%')
        </if>
        <if test="hospitalCode != null and hospitalCode !=''">
          and b.code  like concat('%', #{hospitalCode},'%')
        </if>
      </where>
  </select>
</mapper>
