<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.hospital.spotchecktask.mapper.SpotCheckTaskMapper">
    <resultMap id="BaseResultMap" type="org.jeecg.modules.hospital.spotchecktask.entity.SpotCheckTask">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="task_state"  property="taskState" typeHandler="org.jeecg.modules.handler.TaskStateHandler"/>
        <result column="task_type" property="taskType" typeHandler="org.jeecg.modules.handler.TaskTypeHandler" />

        <result column="hm_id" jdbcType="INTEGER" property="hmId" />
        <result column="start_time_real" jdbcType="TIMESTAMP" property="startTimeReal" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <association property="hospitalmonitor" javaType="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor"
                     column="hm_id"
                     select="org.jeecg.modules.hospital.monitor.mapper.HospitalmonitorMapper.selectByPrimaryKey">
        </association>
    </resultMap>

    <resultMap id="BaseResultVoMap" type="org.jeecg.modules.hospital.spotchecktask.vo.SpotCheckTaskVo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="start_time" jdbcType="INTEGER" property="startTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="task_state"  property="taskState" typeHandler="org.jeecg.modules.handler.TaskStateHandler"/>
        <result column="task_type" property="taskType" typeHandler="org.jeecg.modules.handler.TaskTypeHandler" />

        <result column="hm_id" jdbcType="INTEGER" property="hmId" />
        <result column="start_time_real" jdbcType="TIMESTAMP" property="startTimeReal" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <association property="hospitalmonitor" javaType="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor"
                     column="hm_id"
                     select="org.jeecg.modules.hospital.monitor.mapper.HospitalmonitorMapper.selectByPrimaryKey">
        </association>
    </resultMap>
    <select id="selectSpotCheckTasks" resultMap="BaseResultMap" parameterType="org.jeecg.modules.hospital.spotchecktask.entity.SpotCheckTask">
       select s.* FROM spot_check_task s WHERE s.task_state = #{taskState}
    </select>
    <select id="selectAllById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from spot_check_task where id=#{id}
    </select>
    <select id="selectSpotCheckTasksBySpotCheckTask" resultMap="BaseResultMap" parameterType="org.jeecg.modules.hospital.spotchecktask.entity.SpotCheckTask">
          select s.* FROM spot_check_task s
          left join hospitalMonitor m on s.hm_id=m.id
          WHERE s.task_state = #{taskState} and m.hisid=#{hisid} and m.dept=#{deptId}
    </select>
    <select id="getSpotCheckTaskByHmId" resultMap="BaseResultMap" parameterType="java.lang.String" >
            select * FROM spot_check_task s WHERE s.hm_id = #{id}
            AND s.task_state ='DOING'
    </select>
    <select id="selectCheckUsers" resultMap="BaseResultVoMap">
        select a.* from spot_check_task a
        left join hospitalmonitor b on b.id = a.hm_id
        left join hisinfo c on c.id = b.hisid
        where a.task_state ='DOING'
        and (b.type='01' OR b.type='05')
        and EXISTS(select d.* from hisuserinfo d   where token =#{hospitalmonitor.token}  and d.dept=b.dept and d.hisid=c.id )
        <if test="hospitalmonitor.name != null and hospitalmonitor.name != ''">
            and b.name like concat('%',#{hospitalmonitor.name},'%')
        </if>
        <if test="hospitalmonitor.percode != null and hospitalmonitor.percode != ''">
            and b.percode like concat('%',#{hospitalmonitor.percode},'%')
        </if>
        LIMIT #{startIndex},#{pageSize}
    </select>

    <select id="selectCheckUsersCount" resultType="java.lang.Integer">
        select count(1) from spot_check_task a
        left join hospitalmonitor b on b.id = a.hm_id
        left join hisinfo c on c.id = b.hisid
        where a.task_state ='DOING'
        and (b.type='01' OR b.type='05')
        and EXISTS(select d.* from hisuserinfo d   where token =#{token}  and d.dept=b.dept and d.hisid=c.id )
        <if test="name != null and name != ''">
            and b.name like concat('%',#{name},'%')
        </if>
        <if test="percode != null and percode != ''">
            and b.percode like concat('%',#{percode},'%')
        </if>
    </select>
    <update id="updateTaskType">
        update spot_check_task a set a.task_state = 'AUTHENTICATE' where
        a.hm_id=(select b.id from  hospitalmonitor b where b.percode=#{percode} and (b.type='01' OR b.type='05') limit 1 )
        and a.task_state ='DOING'
    </update>
</mapper>