<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.hospital.spotchecktask.mapper.SpotCheckTaskMapper">
    <resultMap id="BaseResultMap" type="org.jeecg.modules.hospital.spotchecktask.entity.SpotCheckTask">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="task_state"  property="taskState" typeHandler="org.jeecg.modules.handler.TaskStateHandler"/>
        <result column="task_type" property="taskType" typeHandler="org.jeecg.modules.handler.TaskTypeHandler" />

        <result column="hm_id" jdbcType="INTEGER" property="hmId" />
        <result column="start_time_real" jdbcType="TIMESTAMP" property="startTimeReal" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <association property="hospitalmonitor" javaType="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor"
                     column="hm_id"
                     select="org.jeecg.modules.hospital.monitor.mapper.HospitalmonitorMapper.selectByPrimaryKey">
        </association>
    </resultMap>

    <resultMap id="BaseResultVoMap" type="org.jeecg.modules.hospital.spotchecktask.vo.SpotCheckTaskVo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="start_time" jdbcType="INTEGER" property="startTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="task_state"  property="taskState" typeHandler="org.jeecg.modules.handler.TaskStateHandler"/>
        <result column="task_type" property="taskType" typeHandler="org.jeecg.modules.handler.TaskTypeHandler" />

        <result column="hm_id" jdbcType="INTEGER" property="hmId" />
        <result column="start_time_real" jdbcType="TIMESTAMP" property="startTimeReal" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <association property="hospitalmonitor" javaType="org.jeecg.modules.hospital.monitor.entity.Hospitalmonitor"
                     column="hm_id"
                     select="org.jeecg.modules.hospital.monitor.mapper.HospitalmonitorMapper.selectByPrimaryKey">
        </association>
    </resultMap>
    <select id="selectSpotCheckTasks" resultMap="BaseResultMap" parameterType="org.jeecg.modules.hospital.spotchecktask.entity.SpotCheckTask">
       select s.* FROM spot_check_task s WHERE s.task_state = #{taskState}
    </select>
    <select id="selectAllById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from spot_check_task where id=#{id}
    </select>
    <select id="selectSpotCheckTasksBySpotCheckTask" resultMap="BaseResultMap" parameterType="org.jeecg.modules.hospital.spotchecktask.entity.SpotCheckTask">
          select s.* FROM spot_check_task s
          left join hospitalMonitor m on s.hm_id=m.id
          WHERE s.task_state = #{taskState} and m.hisid=#{hisid} and m.dept=#{deptId}
    </select>
    <select id="getSpotCheckTaskByHmId" resultMap="BaseResultMap" parameterType="java.lang.String" >
            select * FROM spot_check_task s WHERE s.hm_id = #{id}
            AND s.task_state ='DOING'
    </select>
    <select id="selectCheckUsers" resultMap="BaseResultVoMap">
        select a.* from spot_check_task a
        left join hospitalmonitor b on b.id = a.hm_id
        left join hisinfo c on c.id = b.hisid
        where a.task_state ='DOING'
        and (b.type='01' OR b.type='05') and b.extractstatus=1
        and EXISTS(select d.* from hisuserinfo d   where token =#{hospitalmonitor.token}  and d.dept=b.dept and d.hisid=c.id )
        <if test="hospitalmonitor.name != null and hospitalmonitor.name != ''">
            and b.name like concat('%',#{hospitalmonitor.name},'%')
        </if>
        <if test="hospitalmonitor.percode != null and hospitalmonitor.percode != ''">
            and b.percode like concat('%',#{hospitalmonitor.percode},'%')
        </if>
        LIMIT #{startIndex},#{pageSize}
    </select>

    <select id="selectCheckUsersCount" resultType="java.lang.Integer">
        select count(1) from spot_check_task a
        left join hospitalmonitor b on b.id = a.hm_id
        left join hisinfo c on c.id = b.hisid
        where a.task_state ='DOING'
        and (b.type='01' OR b.type='05')
        and EXISTS(select d.* from hisuserinfo d   where token =#{token}  and d.dept=b.dept and d.hisid=c.id )
        <if test="name != null and name != ''">
            and b.name like concat('%',#{name},'%')
        </if>
        <if test="percode != null and percode != ''">
            and b.percode like concat('%',#{percode},'%')
        </if>
    </select>
    <update id="updateTaskType">
        update spot_check_task a set a.task_state = 'CANCELLED' where
        a.hm_id=(select b.id from  hospitalmonitor b where b.percode=#{percode} and (b.type='01' OR b.type='05') limit 1 )
        and a.task_state ='DOING'
    </update>
    <select id="selectSpotCheckTaskListsCount" resultType="java.lang.Integer">
        select count(1) from   hospitalmonitor b
        left join hisinfo c on b.hisid=c.id left join dictionary d on d.id = b.dept
        left join (select max(f.create_time) as createTime ,f.hm_id from spot_check_task f GROUP BY f.hm_id) m on b.id=m.hm_id
        <where>
            exists(select e.* from spot_check_task e where b.id=e.hm_id)
            <if test="hospitalName != null and hospitalName !=''">
                and c.name like concat('%',#{hospitalName},'%')
            </if>
            <if test="outstatus != null and outstatus !=''">
                and b.outstatus =#{outstatus}
            </if>
            <if test="dept != null ">
                and b.dept = #{dept}
            </if>
            <if test="extractstatus != null ">
                and b.extractstatus = #{extractstatus}
            </if>
            <if test="inDateBegin != null ">
                and b.indate &gt;= #{inDateBegin}
            </if>
            <if test="inDateEnd != null ">
                and b.indate &lt;= #{inDateEnd}
            </if>
            <if test="spoCheckDateBegin != null ">
                and m.createTime &gt;= #{spoCheckDateBegin}
            </if>
            <if test="spoCheckDateEnd != null ">
                and m.createTime &lt;= #{spoCheckDateEnd}
            </if>
        </where>
    </select>
    <select id="selectSpotCheckTaskLists" resultType="org.jeecg.modules.hospital.spotchecktask.vo.SpotCheckTaskVo">
        select m.createTime,b.id,c.name hospitalName,d.name dictName,b.outstatus,b.extractstatus,b.name,b.sex,b.percode,b.indate from   hospitalmonitor b
        left join hisinfo c on b.hisid=c.id left join dictionary d on d.id = b.dept
        left join (select max(f.create_time) as createTime,f.hm_id from spot_check_task f GROUP BY f.hm_id) m on b.id=m.hm_id
        <where>
        exists(select e.* from spot_check_task e where b.id=e.hm_id)
            <if test="hospitalName != null and hospitalName !=''">
                and c.name like concat('%',#{hospitalName},'%')
            </if>
            <if test="outstatus != null and outstatus !=''">
                and b.outstatus =#{outstatus}
            </if>
            <if test="dept != null ">
                and b.dept = #{dept}
            </if>
            <if test="extractstatus != null ">
                and b.extractstatus = #{extractstatus}
            </if>
            <if test="inDateBegin != null ">
                and b.indate &gt;= #{inDateBegin}
            </if>
            <if test="inDateEnd != null ">
                and b.indate &lt;= #{inDateEnd}
            </if>
            <if test="spoCheckDateBegin != null ">
                and m.createTime &gt;= #{spoCheckDateBegin}
            </if>
            <if test="spoCheckDateEnd != null ">
                and m.createTime &lt;= #{spoCheckDateEnd}
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="column!=null">
                ${column} ${order}
            </when>
            <otherwise>
                b.extractstatus DESC
            </otherwise>
        </choose>
        LIMIT ${startIndex}, ${pageSize}
    </select>

    <select id="selectSpotCheckTaskListsAll" resultType="org.jeecg.modules.hospital.spotchecktask.vo.SpotCheckTaskVo">
        select b.id,c.name hospitalName,d.name dictName,b.outstatus,b.extractstatus,b.name,b.sex,b.percode,b.indate from   hospitalmonitor b
        left join hisinfo c on b.hisid=c.id left join dictionary d on d.id = b.dept
        <where>
            exists(select e.* from spot_check_task e where b.id=e.hm_id)
            <if test="hospitalName != null and hospitalName !=''">
                and c.name like concat('%',#{hospitalName},'%')
            </if>
            <if test="outstatus != null and outstatus !=''">
                and b.outstatus =#{outstatus}
            </if>
            <if test="dept != null ">
                and b.dept = #{dept}
            </if>
            <if test="extractstatus != null ">
                and b.extractstatus = #{extractstatus}
            </if>
        </where>
    </select>
</mapper>
