<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.hospital.dictionary.mapper.DictionaryMapper">
    <select id="selectListByToken" resultType="java.util.HashMap">
        SELECT
        	c.name,b.bed
        FROM
        	`hisuserinfo` a
	    LEFT JOIN hisdeptbedinfo b ON a.hisid = b.hisid
	    LEFT JOIN dictionary c ON c.id = b.dept where a.token=#{token1}
    </select>

    <select id="selectListByTokenCount" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
        	`hisuserinfo` a
	    LEFT JOIN hisdeptbedinfo b ON a.hisid = b.hisid
	    LEFT JOIN dictionary c ON c.id = b.dept where a.token=#{token}
    </select>
</mapper>